[submodule "linux/lib/googletest"]
	path = linux/lib/googletest
	url = https://github.com/google/googletest
[submodule "linux/lib/fruit"]
	path = linux/lib/fruit
	url = https://github.com/google/fruit
[submodule "linux/lib/cpp-mediator"]
	path = linux/lib/cpp-mediator
	url = https://github.com/nolanholden/cpp-mediator

