[submodule "linux/lib/beaglebone-c"]
	path = linux/lib/beaglebone-c
	url = https://github.com/nolanholden/beaglebone-c.git
[submodule "linux/lib/cpp-mediator"]
	path = linux/lib/cpp-mediator
	url = https://github.com/nolanholden/cpp-mediator
[submodule "linux/lib/fruit"]
	path = linux/lib/fruit
	url = https://github.com/google/fruit
[submodule "linux/lib/googletest"]
	path = linux/lib/googletest
	url = https://github.com/google/googletest
[submodule "linux/lib/vectornav-firmware-1.1"]
	path = linux/lib/vectornav-firmware-1.1
	url = https://github.com/nolanholden/vectornav-firmware-1.1

