[submodule "fruit"]
	path = fruit
	url = https://github.com/google/fruit
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
[submodule "cpp-mediator"]
	path = cpp-mediator
	url = https://github.com/nolanholden/cpp-mediator
